* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background: transparent;
}

body {
  position: relative;
  z-index: 0;
}