.securityBlock {
    position: relative;
    color: #ffffff;
    padding: 120px 20px;
    overflow: hidden;
    background: none;
    font-family: "Inter", "Orbitron", "Poppins", sans-serif;

    .content {
        position: relative;
        z-index: 5;
        text-align: center;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: aqua;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 60px;
        color: #e0e0e0;
    }

    .features {
        display: flex;
        // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 60px;

        .feature {
            background: rgba(0, 0, 0, 0.4);
            border: 1px solid #007bff;
            padding: 30px;
            border-radius: 20px;
            backdrop-filter: blur(6px);
            transition: all 0.3s ease;
            position: relative;
            width: 550px;
            text-align: start;

            &:hover {
                box-shadow: 0 0 20px #00c2ff;
            }

            .icon {
                width: 48px;
                height: 48px;
                color: #00c2ff;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
                color: #ffffff;
            }

            p {
                font-size: 16px;
                color: #d0d0d0;
                line-height: 1.6;
            }
        }
    }

    .footer {
        color: #c0e0ff;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 40px;
        font-style: italic; 
    }

    .securityButton {
        display: inline-flex;
        align-items: center;
        padding: 14px 28px;
        border: none;
        border-radius: 40px;
        cursor: pointer;

        color: white;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;

        background: linear-gradient(90deg, #1e70e9 0%, #17c7e9 100%);
        box-shadow: 0 4px 15px rgba(30, 112, 233, 0.5);

        transition: transform 0.2s, box-shadow 0.2s;
    }

    .securityButton:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(30, 112, 233, 0.7);
    }

    .icon {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .arrow {
        margin-left: 10px;
        font-size: 1.2rem;
        opacity: 0.8;
    }
}
@media(max-width:560px){
    .securityButton{
        width: 90%;
    }
}